* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainBody {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.cardWrapper {
  width: 60%;
  height: 97%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;

}

.firstCard {
  width: 30%;
  height: 95%;
  background-color: #e0e5ec;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.secondCard {
  width: 40%;
  height: 95%;
}

.textsection {
  margin-top: 10px;
}

.btn {
  display: flex;
  gap: 4px;
  /* background: #e0e5ec; */
}

.btn .bb {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  /* border-radius: 10px; */
  border: none;
  background: #e0e5ec;
  cursor: pointer;
  /* box-shadow: rgb(179, 179, 179) 0px 5px 15px; */
}
.btn .bb1 {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #e0e5ec;
  box-shadow: inset 3px 3px 6px #a3b1c6, inset -3px -3px 6px #ffffff;
  outline: none;
  cursor: pointer;
}


.firstInput {
  width: 100%;
  height: 15%;
  gap: 20px;
}

.firstInput p {
  font-weight: 50;
  font-size: 15px;
}

.firstInput input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: #e0e5ec;
  box-shadow: inset 3px 3px 6px #a3b1c6, inset -3px -3px 6px #ffffff;
  outline: none;
}

.register {
  display: flex;
  width: 100%;
  height: 40px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  gap: 10px;
  background: #e0e5ec;
  box-shadow: rgb(179, 179, 179) 0px 5px 15px;
}

.register button {
 
  border: none;
  
}



.tSection p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: small;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.icon1 {
  height: 70px;
  width: 20%;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 background: #e0e5ec;
  box-shadow: rgb(179, 179, 179) 0px 5px 15px;
}

.icon2 {
  height: 70px;
  width: 20%;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e5ec;
  box-shadow: rgb(179, 179, 179) 0px 5px 15px;
}

.icon3 {
  height: 70px;
  width: 20%;
  padding: 5px;
 background: #e0e5ec;
  box-shadow: rgb(179, 179, 179) 0px 5px 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec1 {
  width: 90%;
  height: 70vh;
  background: #e0e5ec;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.btnsec {
  display: flex;
  gap: 4px;
  /* background: #e0e5ec; */
}

.btnsec .btnSec1 {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  /* border-radius: 10px; */
  border: none;
  background: #e0e5ec;
  cursor: pointer;
  box-shadow: inset 3px 3px 6px #a3b1c6, inset -3px -3px 6px #ffffff;
}
.btnsec .btnSec2 {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #e0e5ec;
  outline: none;
  cursor: pointer;
}

.textsec {
  margin-top: 10px;
}

.login {
  display: flex;
  width: 100%;
  height: 40px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  gap: 10px;
  background: #e0e5ec;
  box-shadow: rgb(179, 179, 179) 0px 5px 15px;
}

.login button {
  border: none;

}


 .login button:hover {
  background: #b5bdc2;
} 

.iconss {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.iconA {
  height: 70px;
  width: 20%;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 background: #e0e5ec;
  box-shadow: rgb(179, 179, 179) 0px 5px 15px;
}

.iconB {
  height: 70px;
  width: 20%;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e5ec;
  box-shadow: rgb(179, 179, 179) 0px 5px 15px;
}

.iconC {
  height: 70px;
  width: 20%;
  padding: 5px;
 background: #e0e5ec;
  box-shadow: rgb(179, 179, 179) 0px 5px 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}